@charset "UTF-8";

@use "_common.scss" as *;

// header
.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	padding-inline: 50px;
	.header__logo {
		z-index: 1;
		position: relative;
		mix-blend-mode: difference;
	}
}
.menu {
	z-index: 1;
	mix-blend-mode: difference;
	position: relative;
	width: 30px;
	height: 16px;
	.menu__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: $c-white;
		transition: opacity 0.6s $ease, top 0.4s $ease, transform 0.6s $ease;
		&:nth-of-type(2) {
			top: 7px;
		}
		&:nth-of-type(3) {
			top: 14px;
		}
	}
	&--open .menu__line {
		&:nth-of-type(1) {
			top: 7px;
			transform: rotate(28deg);
		}
		&:nth-of-type(2) {
			opacity: 0;
		}
		&:nth-of-type(3) {
			top: 7px;
			transform: rotate(-28deg);
		}
	}
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: $c-white;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s $ease, visibility 0.6s $ease;
	&--active {
		opacity: 1;
		visibility: visible;
	}
}
.nav-list {
	margin-left: 144px;
	.nav-list__item {
		position: relative;
		width: 100%;
		background: linear-gradient(
			90deg,
			#00698b 0%,
			rgba(255, 255, 255, 0) 50%,
			transparent 50%
		);
		background-size: 200%;
		background-position: 100%;
		transition: background 0.6s $ease;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $c-white;
			opacity: 0;
			transition: opacity 0.6s $ease;
		}
		&:hover {
			background-position: 0;
		}
		&:hover::after {
			opacity: 1;
		}
		&:hover .nav-list__link {
			color: $c-white;
			transform: translateX(50px);
		}
	}
	.nav-list__link {
		position: relative;
		display: inline-block;
		color: $c-black;
		font-family: $f-en;
		font-size: 72px;
		font-weight: bold;
		line-height: 1.5;
		transition: transform 0.6s $ease, color 0.4s $ease;
	}
}

// fv
.fv {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	.fv__bg {
		z-index: -1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 452px;
	}
	.fv__ttl {
		font-family: $f-en;
		font-size: 72px;
		font-weight: bold;
		line-height: 1.5;
	}
}
.fv-list {
	position: absolute;
	top: 56.64596273%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	.fv-list__link {
		position: relative;
		font-family: $f-en;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
		&::after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 100%;
			height: 1px;
			background: $c-white;
			transform: scale(0, 1);
			transition: transform 0.4s $ease;
		}
		&:hover::after {
			transform: scale(1, 1);
		}
	}
}

// about
.about {
	margin-top: 165px;
	margin-inline: auto;
	width: min(100%, 1200px);
}
.about-ttl {
	width: fit-content;
	font-family: $f-en;
	font-size: 128px;
	font-weight: bold;
	line-height: 1.25;
}
.about-ttl-cnt {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 100%;
	.about-ttl-cnt__in {
		margin-top: 28px;
	}
	.about-ttl-cnt__desc {
		width: 610px;
		font-size: 16px;
		line-height: 2;
	}
	.about-ttl-cnt__btn {
		display: inline-block;
		margin-top: 40px;
		padding: 8px 40px;
		border: 1px solid $c-white;
		border-radius: 999px;
		font-family: $f-en;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
		transition: background 0.4s $ease, color 0.4s $ease;
		&:hover {
			background: $c-white;
			color: $c-black;
		}
	}
}
.about-img-cnt {
	display: flex;
	justify-content: space-between;
	margin-top: 41px;
	.about-img-cnt__img {
		width: 578px;
		margin-top: 80px;
	}
	.about-img-cnt__desc {
		width: 486px;
		font-size: 16px;
		line-height: 2;
	}
}

// works
.works {
	width: min(100%, 1200px);
	margin-top: 260px;
	margin-inline: auto;
}
.works-head {
	display: flex;
	justify-content: space-between;
	.works-head__img {
		margin-top: 124px;
		width: 544px;
	}
}
.works-head-ttl {
	.works-head-ttl__main {
		font-family: $f-en;
		font-size: 128px;
		font-weight: bold;
		line-height: 1.25;
	}
}
.works-head-btn {
	position: relative;
	display: flex;
	align-items: center;
	gap: 12px;
	overflow: hidden;
	width: fit-content;
	margin-top: 68px;
	.works-head-btn__txt {
		width: fit-content;
		font-family: $f-en;
		font-size: 16px;
		font-weight: bold;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: $c-white;
			transform: scale(0, 1);
			transform-origin: right;
			transition: transform 0.6s $ease;
		}
	}
	.works-head-btn__icon {
		transition: transform 0.6s $ease;
		&:nth-of-type(2) {
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translate(-200%, 200%);
		}
	}
	&:hover .works-head-btn__icon:nth-of-type(1) {
		transform: translate(200%, -200%);
	}
	&:hover .works-head-btn__icon:nth-of-type(2) {
		transform: translate(0, 0);
	}
	&:hover .works-head-btn__txt::after {
		transform: scale(1, 1);
		transform-origin: left;
	}
}
.works-list {
	display: flex;
	flex-direction: column;
	gap: 90px;
	margin-top: 134px;
	.works-list__item {
		position: relative;
		width: fit-content;
	}
	.works-list__link {
		&:hover .works-list__img {
			transform: scale(1.1);
		}
		&:hover .works-list__name::after {
			transform: scale(1, 1);
			transform-origin: left;
		}
	}
	.works-list__img-wrap {
		overflow: hidden;
	}
	.works-list__img {
		width: 672px;
		transition: transform 0.6s $ease;
	}
	.works-list__name {
		position: absolute;
		bottom: 0;
		right: -201px;
		font-family: $f-en;
		font-size: 64px;
		font-weight: bold;
		line-height: 1.5;
		&::after {
			content: "";
			position: absolute;
			bottom: 10px;
			left: 0;
			width: 100%;
			height: 1px;
			background: $c-white;
			transform: scale(0, 1);
			transform-origin: right;
			transition: transform 0.4s $ease;
		}
	}
}

// loop-txt
.loop-txt {
	width: 100%;
	overflow: hidden;
	.loop-txt__in {
		display: flex;
		gap: 10px;
		width: fit-content;
		animation: loop-txt 10s linear infinite;
	}
	.loop-txt__txt {
		opacity: 0.1;
		margin-top: 206px;
		font-family: $f-en;
		font-size: 128px;
		font-weight: bold;
		line-height: 1;
		white-space: nowrap;
	}
}
@keyframes loop-txt {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

// contact
.contact {
	width: min(100%, 1200px);
	padding-block: 206px 227px;
	margin-inline: auto;
}
.contact-ttl {
	text-align: center;
	.contact-ttl__main {
		display: inline-block;
		overflow: hidden;
		font-family: $f-en;
		font-size: 128px;
		font-weight: bold;
		line-height: 1;
		span {
			position: relative;
			display: inline-block;
			@for $i from 1 through 7 {
				&:nth-child(#{$i}) {
					transition: transform .8s $ease #{0.04 * $i - 0.04}s;
				}
			}
			&::after {
				content: attr(data-txt);
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%, 100%);
			}
		}
		&:hover span {
			transform: translateY(-100%);
		}
	}
	.contact-ttl__sub {
		font-family: $f-en;
		font-size: 20px;
		font-weight: bold;
		line-height: 1;
	}
}
.contact-sns {
	margin-top: 35px;
	.contact-sns__head {
		font-family: $f-en;
		font-size: 20px;
		line-height: 1;
		text-align: center;
	}
}
.contact-sns-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-top: 35px;
	.contact-sns-list__link {
		display: inline-block;
		width: 150px;
		padding-block: 8px;
		border: 1px solid $c-white;
		border-radius: 999px;
		background: linear-gradient(to left, transparent 50%, $c-white 50%);
		background-size: 200%;
		background-position: 100%;
		font-family: $f-en;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
		text-align: center;
		transition: background 0.4s $ease, color 0.4s $ease;
		&:hover {
			background-position: 0;
			color: $c-black;
		}
	}
}
